.inputFields{
    margin-bottom: 2rem;
}

.inputFields input{
    border: 1px solid rgb(146, 141, 141);
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.inputFields input:focus{
    border: 1px solid rgb(146, 141, 141);
}

.inputFields button{
    font-size: 1rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
    background-color: gray;
    color: white;
    font-weight: 600;
    box-shadow: 0.2rem 0.2rem 0.5rem gray;
}

.student-table {
    border-collapse: collapse;
    box-shadow: 0.3rem 0.3rem 0.5rem gray;
    margin-bottom: 3rem;
}
  
.student-table th,
.student-table td {
    border: 1px solid #a7a2a2;
    padding: 8px;
}
  
.student-table th {
    background-color: #e0dcdc;
    font-weight: 500;
}
   